.header-section{
    padding-top:300px;
    padding-left: 60px;
}

.heading{
    font-size:50px;
}



.pfp{
    width:1000px ;
    padding-right: 300px;
}

.info-text{
    font-size: 25px;
    align-items: center;
}