.navbar {
  /* background-color: #ffffff; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  margin: 5px 0;
  transition-duration: 0.5s;
}

.navbar-links {
  display: flex;
  gap: 20px;
  color: rgb(0, 0, 0);
  text-decoration: hidden;
  transition-duration: 0.5s;
  scroll-behavior: smooth;
}
.navbar-title {
  color: rgb(0, 0, 0);
  text-decoration-line: none;
  font-size: 17px;
  transition-duration: 0.5s;
}

a{
  transition-duration: 0.5s;
  scroll-behavior: smooth;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: rgba(207, 0, 0, 0.713);
  text-decoration-thickness:2.5px ;
}

.navbar-icon {
  margin-right: 1px;
  width: 15px;
}

.dark-mode .navbar .navbar-links .navbar-links a .navbar-title {
  background-color: #1a1a1a;
  color: white;
}

.dark-mode a {
  transition-duration: 0.5s;
  color: white;
}
.dark-mode-switch{
  padding-top: 2.3px;
}
.dark-mode-button{
  display: flex;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  transition-duration: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ffffff;
    transition-duration: 0.5s;
  }

  .dark-mode .navbar-links a {
    background-color: #1a1a1a;
    color: white;
    transition-duration: 0.5s;
  }

  .dark-mode .bar {
    background-color: white;
    transition-duration: 0.5s;
  }

  .dark-mode .navbar-links.open {
    background-color: #1a1a1a;
    transition-duration: 0.5s;
  }

  .navbar-links.open {
    display: flex;
    transition-duration: 0.5s;
  }
  .dark-mode-switch{
    display: flex;
    justify-content: center;
  }

  .dark-mode-button{
    font-size: 19px;
  }

  .navbar-links a {
    padding: 15px;
    display: block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 0.5s;
  }
  
}
