body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Open-Sans';
    
}

.App{
  animation: 2s fadeIn;
}

@font-face {
  font-family: "Open-Sans";
  src: local("Open-Sans"),
    url(./fonts/OpenSans-VariableFont_wdth\,wght.woff) format("woff");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}