.project-grid {
  display: block;
  column-gap: 10px;
}

.project-heading {
  font-size: 35px;
  padding-left: 25px;
  text-decoration-line: underline;
  text-decoration-color: rgba(207, 0, 0, 0.713);
  text-decoration-thickness: 5px;
}

.project-section {
  display: block;
  padding-left: 25px;
  text-align: center;
}

.project-title {
  font-size: 38px;
}

.video-preview {
  max-width: 100%;
  width: 1250px;
  height: auto;
}

.buttons {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.github-button {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  text-align: center; /* Vertically center the button */
  font-size: 24px;
  background-color: rgba(207, 0, 0, 0.713);
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;
  border-color: transparent;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.github-button:hover {
  background-color: rgba(161, 0, 0, 0.713);
}

@media screen and (max-width: 768px) {
  .project-section {
    padding-left: 2px;
  }
  .project-heading {
    font-size: 28px; /* Adjust font size for smaller screens */
    padding-left: 7px;
    text-align: center;
  }

  .project-title {
    font-size: 20px; /* Adjust font size for smaller screens */
    text-align: center;
  }

  .github-button {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}
