.footer-section{
padding-bottom: 2px;
}

.footer-text{
   display: block;
   text-align: center;
   font-size: 19px;
   margin: 0;
   padding-bottom: 4px;
}

.footer-socials{
   display: block;
   text-align: center;
}

.navbar-redirects{
   display: flex;
   padding-left: 20px;
   gap: 20px;
}

.redirect{
   font-size: 17px;
   cursor: pointer;   
}


.dark-mode .footer-section .footer-text{
   background-color: #1a1a1a;
   color: white;
}

@media screen and (max-width: 768px) {
   .navbar-redirects{
      display: flex;
      justify-content: center;
      padding-right: 23px;
   }
}
